<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>blurb</key>
		<string>Searches are exact. But an asterisk (*) is a wild card. So, for example, to find matches that start with your term, end your term with an asterisk. To find matches that contain your term, start and end your term with an asterisk.</string>
		<key>key</key>
		<string>kMDItemDisplayName</string>
		<key>title</key>
		<string>Display Name</string>
	</dict>
	<dict>
		<key>blurb</key>
		<string>The Full Name is opposed to the Display Name which is localized and may omit the extension. I do not know when this might be preferable to the Display Name, but I include it just in case.</string>
		<key>key</key>
		<string>kMDItemFSName</string>
		<key>title</key>
		<string>Full Name</string>
	</dict>
	<dict>
		<key>blurb</key>
		<string>Content searches look for text inside a document (if this is a document type that Spotlight understands). You will probably want to make your search word-based and case-insensistive. You can use an asterisk (*) as a wild card.</string>
		<key>key</key>
		<string>kMDItemTextContent</string>
		<key>title</key>
		<string>Content</string>
	</dict>
	<dict>
		<key>blurb</key>
		<string>Finder comments are edited in the Finder&apos;s Get Info dialog. They are typically several words, and the match is exact, so you will almost certainly want to check the Word-based checkbox and/or use the asterisk (*) wild card.</string>
		<key>key</key>
		<string>kMDItemFinderComment</string>
		<key>title</key>
		<string>Finder Comment</string>
	</dict>
	<dict>
		<key>blurb</key>
		<string>Do not use a period (.) or wildcard (*) in an Extension search. Spotlight doesn&apos;t actually do extension searches; an attempt will be made to translate your extension into a UTI.</string>
		<key>key</key>
		<string>kMDItemContentType</string>
		<key>title</key>
		<string>Extension</string>
	</dict>
	<dict>
		<key>blurb</key>
		<string>Textual description of the kind of item; for example, &quot;Folder&quot; will find folders. Wildcard and word-based searches work, and are advisable, as you might not know the full name. For example, &quot;*Word*&quot; will find Microsoft Word Document files.</string>
		<key>key</key>
		<string>kMDItemKind</string>
		<key>title</key>
		<string>Kind</string>
	</dict>
	<dict>
		<key>blurb</key>
		<string>The type code is a four-character code, from before Mac OS X, such as &apos;W8BN&apos; for Word docs. The four-character code that you provide will be translated into a number (an OSType).</string>
		<key>key</key>
		<string>kMDItemFSTypeCode</string>
		<key>title</key>
		<string>Type Code</string>
	</dict>
	<dict>
		<key>blurb</key>
		<string>The creator code is a four-character code, from before Mac OS X, such as &apos;MSWD&apos; for Microsoft Word. The four-character code that you provide will be translated into a number (an OSType).</string>
		<key>key</key>
		<string>kMDItemFSCreatorCode</string>
		<key>title</key>
		<string>Creator Code</string>
	</dict>
	<dict>
		<key>blurb</key>
		<string>Dates must be entered using special &quot;$time&quot; notation or as seconds since January, 2001; use the Date Assistant window to help. Dates are exact date-times, so you will probably want an inexact operator (e.g. &gt;=).</string>
		<key>key</key>
		<string>kMDItemFSContentChangeDate</string>
		<key>title</key>
		<string>Modified Date</string>
	</dict>
	<dict>
		<key>blurb</key>
		<string>Dates must be entered using special &quot;$time&quot; notation or as seconds since January, 2001; use the Date Assistant window to help. Dates are exact date-times, so you will probably want an inexact operator (e.g. &gt;=).</string>
		<key>key</key>
		<string>kMDItemFSCreationDate</string>
		<key>title</key>
		<string>Created Date</string>
	</dict>
</array>
</plist>
